<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jxd.travel.mapper.BillMapper">
    <resultMap id="billToObject" type="Bill">
        <result column="bno" property="bno"/>
        <result column="application_time" property="applicationTime"/>
    </resultMap>
    <select id="selectByEno" resultMap="billToObject">
        select
            bno,
            date_format(application_time, '%Y-%c-%d %H:%i')application_time,
            money, description
        from
            bill
        <where>
            eno = #{eno}
            <if test="bno != null and bno != ''">
                and bno = #{bno}
            </if>
            <if test="stime != null and stime != ''">
                and application_time &gt; #{stime}
            </if>
            <if test="etime != null and etime != ''">
                and application_time &lt; #{etime}
            </if>
        </where>
        order by
            bno
        limit #{page}, #{limit}
    </select>

    <select id="selectNumsByEno" resultType="Integer">
        select count(*) from
            bill
        where
            eno = #{eno};
    </select>
</mapper>