<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jxd.travel.mapper.EmpMapper">

    <select id="selectByEno" resultType="Emp">
        select eno, ename, password, sex, phone, postno from emp
        where eno = #{eno};
    </select>
</mapper>