<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jxd.travel.mapper.NavigationMapper">

    <select id="selectByPostno" resultType="Navigation">
        select navno, content, path, icon, postno from navigation
        where postno=#{postno};
    </select>
</mapper>